
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static0.srcdn.com/wordpress/wp-content/uploads/2023/11/greatest-movies-of-all-time.jpg);">
  <div class="container text-center">
    <h1>Save any kind of movie</h1>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <h3>My lists</h3>
    <%= link_to new_list_path, class:"text-decoration-none" do %>
      <button type="button" class="btn btn-success">Create a new list</button>
    <% end %>
  </div>
      <% @lists.each do |list| %>
  <div class="cards">
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <%= list.name %>
        </div>
        <% end %>
  </div>
        <div class="mb-2">
          <%= link_to "Delete list", list_path(list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
        </div>
      <% end %>
</div>
