
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static0.srcdn.com/wordpress/wp-content/uploads/2023/11/greatest-movies-of-all-time.jpg);">
  <div class="container text-center">
    <h1>Save any kind of movie</h1>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <h3>My lists</h3>
    <%= link_to new_list_path, class:"text-decoration-none" do %>
      <button type="button" class="btn btn-success">Create a new list</button>
    <% end %>
  </div>

  <div class="cards">
      <% @lists.each do |list| %>
        <%# <div> %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= list.photo.present? && list.photo.key ? cl_image_path(list.photo.key, height: 300, crop: :fill) : 'https://technoparc.com/wp-content/uploads/2021/06/carre-gris.png' %>')">
            <%= link_to list_path(list), class:"text-decoration-none text-white px-4 text-center" do %>
            <%= list.name %>
            <% end %>
            <%= link_to list_path(list), class:"text-decoration-none delete-list", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } do %>
              &#x2715;
            <% end %>
          </div>
        <%# </div> %>
      <% end %>
  </div>
</div>
